@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	font-family: "Poppins", sans-serif;
}

.card {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-areas: "character VA";
}

/* CHARACTER SECTION */
.character {
	grid-area: character;
	display: grid;
	grid-template-areas: "image name";
}

.image {
	grid-area: image;
}

.name {
	grid-area: name;
}

/* VA SECTION */
.VA {
	display: grid;
	grid-area: VA;
	grid-template-areas: "name image";
}

.VA .name {
	grid-area: name;
}

.VA .image {
	grid-area: image;
}
